<%= video_tag "landscape.webm", id:"video-background", autoplay: true, loop: true %>
 <div class="thick-green-border">
 <div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
    <h1>WELCOME TO BOSS TRIANGLES</h1>
      <div id="homepage_links"%>
        <%= link_to('How to play', instructions_path)%> 
      <% if user_signed_in? && current_user.characters %><br>
        <blink><%= link_to('Create Character', new_character_path) %></blink> <br>
        <%= link_to('Start Game', game_path)%> <br>
        <%else%>
        <h6>PLEASE SIGNUP/LOGIN!!</h6> <br>  
          <% end %>  
      </div>
      </div>
    </div>    
  </div>  
</div>
