<%= video_tag "landscape.webm", id:"video-background", autoplay: true, loop: true %>
<div class=".container-fluid">
 <div class="row">
  <div class="col-xs-1">
  </div>
 <div class="col-xs-7">
<%=image_tag "newwood.png", id: "wood1", height: 600, width: 950 %>
  <div class="homescreentext">
  <h1>ABOUT</h1>
   <h10>Boss Triangles is a  massively multiplayer online game or MMO.  You are required to explore our map where you will encounter random battles with  gnarley adversaries !  The objective of Boss Triangles is to fight/defeat enemies, collect items and level up in the process.  We allow a large numbers of players to  simultaneously interact with each other during gameplay(websockets are sick!!)
  Boss Triangles was built entirely with Javascript and Ruby on Rails(no gaming engines of course).  All of our characters are also hand drawn, which is pretty BOSS!!</h10>
<h2>Team</h2>
<h10>Harrison Zandri, Lloyd Clave, Patrick Guerrier, Taiki Kosugi, Adam for music!</h10>
          </div>
      </div>
      </div>
    </div>