<%= video_tag "landscape.webm", id:"video-background", autoplay: true, loop: true %>
<div class="parent">
 <div class="col-md-7 col-md-offset-2">
  <div class="row">
  <%=image_tag "newwood.png", id: "wood", height: 400, width: 875 %>
  <div class="homescreentext">
   <h1>How to play:<h1>
<h10>1) Create a character</h10> <br>
<h10>2) Enter game</h10> <br>
<h10>3) Walk around map while randomly fighting enemies </h10><br>
<h10>4) Level up while collecting items from defeating enemies</h10>
<h10>4) BE A BOSS!!!</h10>
          </div> 
      </div>
      </div>
    </div>    
