var prepareBattle = function(){
  battleId = Math.floor(Math.random() * 1000000);
  currentEnemies = [];
  slashes = [];
  bloodMarks = [];
  battleOver = false;
  inBattle = true;
  your_char.recoveryTime = 0;
  messagesLoaded = false;
  var numberOfEnemies = Math.floor( (Math.random() * 4) + 1);
  for (var i = numberOfEnemies; i > 0; i--) {
    var typeOfEnemy = Math.floor( (Math.random() * 4) + 1);
    if (typeOfEnemy === 1) {
      currentEnemies.push(enemyMake("bat"));
    } else if (typeOfEnemy === 2) {
      currentEnemies.push(enemyMake("slime"));
    } else if (typeOfEnemy === 3) {
      currentEnemies.push(enemyMake("rat"));
      if(i >= 3) {
        break;
      }
    } else if (typeOfEnemy === 4) {
      currentEnemies.push(enemyMake("bee"));
      if(i >= 3) {
        break;
      }
    }
  };
  your_char.changeTarget(currentEnemies[0]);
}

var prepareTeamBattle = function(enemies){
  $(".player-menu").remove();
  $(".other-player-menu").remove();
  currentEnemies = enemies;
  slashes = [];
  bloodMarks = [];
  battleOver = false;
  inBattle = true;
  your_char.recoveryTime = 0;
  messagesLoaded = false;
  your_char.changeTarget(currentEnemies[0]);
}

var proceedBattle = function() {
  if (inBattle === true) {
    your_char.recoveryTime--;
    $(".player-names").remove();
    if(battleOver === true) {
      playerOpponent = "";
      if(messagesLoaded === false) {
        victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + SCREEN_HEIGHT / 4 + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;">YOU WIN!!</div>');
        totalxp = 0;
        for (var i = currentEnemies.length - 1; i >= 0; i--) {
          if(Math.random() < currentEnemies[i].dropRate) {
            your_char.inventory.push(currentEnemies[i].item);
            $.ajax({
              url: "/items",
              method: "POST",
              data: {item_name: currentEnemies[i].item}
            })
            var currentInventory = your_char.inventory.filter(function(item) {
              return item === currentEnemies[i].item;
            });
            victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + SCREEN_HEIGHT / 4 + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;">Obtained ' + currentEnemies[i].item + '!<br>Now hold: ' + currentInventory.length + '</div>')
          };
          your_char.xp += currentEnemies[i].xp;
          totalxp += currentEnemies[i].xp;
        };
        calculateLevel();
        victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + SCREEN_HEIGHT / 4 + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;">Gained '+ totalxp +' xp points!</div>')
        victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + SCREEN_HEIGHT / 4 + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;"></div>')
        messagesLoaded = true;
        $("body").prepend(victoryMessages.shift());
        currentEnemies = [];
      }
      if(victoryMessages.length >= 1 && clearMessage === true) {
        $(".battle-message").remove();
        $("body").prepend(victoryMessages.shift());
        clearMessage = false;
      }
      if(victoryMessages.length < 1) {
        $(".battle-message").remove();
        refreshBattleDisplay();
        inBattle = false;
      }
      return;
    }
    currentBattleFrame++;
    for (var i = currentEnemies.length - 1; i >= 0; i--) {
      if(currentEnemies[i].health <= 0) {
        currentEnemies[i].setPose("dead");
        if(currentEnemies[i] === your_char.enemyTarget) {
          your_char.changeTarget(nearestLivingEnemy(-1, 1));
          // if there is no more enemies:
          if(your_char.enemyTarget.pose === "dead") {
            your_char.enemyTarget = null;
            battleOver = true;
          }
        }
      }
    }
    for (var i = currentEnemies.length - 1; i >= 0; i--) {
      if(currentEnemies[i].name != "player" && currentBattleFrame % (255 - currentEnemies[i].attackSpeed) === 0) {
        if(currentEnemies[i].pose === "standing") {
          currentEnemies[i].attackPlayer(your_char);
          currentEnemies[i].setPose("attacking");
          console.log(your_char.health);
        }
      }
    };
  }
}

setInterval(proceedBattle, FRAME_RATE);

var calculateLevel = function() {
  level = Math.floor(Math.sqrt(your_char.xp));
  if (your_char.level < level) {
    for (var i = 0; i < (level - your_char.level); i++) {
      increaseAttributes();
    };
    your_char.level = level;
  }
}

var increaseAttributes = function(){
  your_char.max_health += 100;
  your_char.health = your_char.max_health;
  your_char.attack += 100;
  your_char.defense += 100;
}
