var determineNumberOfEnemies = function() {
  if(your_char.pos_x > SCREEN_WIDTH * 3 && your_char.pos_y  > SCREEN_HEIGHT * 2) {
    return Math.floor( (Math.random() * 3) + 1)
  } else {
    return Math.floor( (Math.random() * 4) + 1)
  }
}

var determineEnemyType = function() {
  if(your_char.pos_x > SCREEN_WIDTH * 3 && your_char.pos_y  > SCREEN_HEIGHT * 2) {
    return Math.floor( (Math.random() * 3) + 2);
  } else {
    return Math.floor( (Math.random() * 2) + 1);
  }
}

var prepareBattle = function(){
  battleId = Math.floor(Math.random() * 1000000);
  currentEnemies = [];
  slashes = [];
  bloodMarks = [];
  battleOver = false;
  inBattle = true;
  your_char.recoveryTime = 0;
  messagesLoaded = false;
  var numberOfEnemies = determineNumberOfEnemies();
  for (var i = numberOfEnemies; i > 0; i--) {
    var typeOfEnemy = determineEnemyType();
    if (typeOfEnemy === 1) {
      currentEnemies.push(enemyMake("slime"));
    } else if (typeOfEnemy === 2) {
      currentEnemies.push(enemyMake("bat"));
    } else if (typeOfEnemy === 3) {
      currentEnemies.push(enemyMake("bee"));
    } else if (typeOfEnemy === 4) {
      currentEnemies.push(enemyMake("rat"));
    } else {
      currentEnemies.push(enemyMake("missing no."));
    }
  };
  your_char.changeTarget(currentEnemies[0]);
}

var prepareTeamBattle = function(enemies){
  removeMenus();
  currentEnemies = enemies;
  slashes = [];
  bloodMarks = [];
  battleOver = false;
  inBattle = true;
  your_char.recoveryTime = 0;
  messagesLoaded = false;
  your_char.changeTarget(currentEnemies[0]);
}

var prepareBossBattle = function(boss){
  removeMenus();
  battleId = Math.floor(Math.random() * 1000000);
  slashes = [];
  bloodMarks = [];
  battleOver = false;
  inBattle = true;
  your_char.recoveryTime = 0;
  messagesLoaded = false;
  bosses = [];
  if (boss === "trogdor") {
    bosses.push(enemyMake("trogdor"));
  } else if (boss === "kudler") {
    bosses.push(enemyMake("kudler"));
  } //else if (boss === "bossname") {
  //   bosses.push(enemyMake("bossname"));
  // }
  currentEnemies = bosses;
  your_char.changeTarget(currentEnemies[0]);
}

var proceedBattle = function() {
  // Do any frame

  // DEATH LOGIC
  if(your_char.health < 1) {
    if(bloodMarks.length > 0) {
      for (var i = currentEnemies.length - 1; i >= 0; i--) {
        currentEnemies[i].attackSpeed = 0;
      };
    } else {
      deathScreenTime--;
    }
    if(deathScreenTime < 0) {
      deathScreenTime = 60;
      refreshBattleDisplay();
      keys_pressed = [];
      keys_pressed_checker = [];
      clicked = [];
      clickLocation = [];
      your_char.max_health = Math.floor(your_char.max_health / 2);
      your_char.attack = Math.floor(your_char.attack / 2);
      your_char.defense = Math.floor(your_char.defense / 2);
      your_char.pos_x = 483;
      your_char.pos_y = 2016;
      inBattle = false;
      battleOver = true;
      your_char.health = your_char.max_health;
      $.ajax({
        url: "/characters/auto_save",
        method: "PATCH",
        data: {pos_x: your_char.pos_x, pos_y: your_char.pos_y, max_health: your_char.max_health, attack: your_char.attack, xp: your_char.xp, level: your_char.level, defense: your_char.defense, health: your_char.health}
      });
    }
  } else {
    deathScreenTime = 60;
  }

  // ITEM EFFECTS (Cooldowns)
  your_char.recoveryTime--;
  your_char.processStatusEffects();
  // GIVING LOGIC
  if(receivedItem !== "") {
    your_char.inventory.push(receivedItem);
    $.ajax({
      url: "/items",
      method: "POST",
      data: {item_name: receivedItem}
    })
    receivedItem = "";
  }
  if(givenItem !== "") {
    your_char.inventory.splice(your_char.inventory.indexOf(givenItem), 1)
    $.ajax({
      url: "/items/use",
      method: "DELETE",
      data: {item_name: givenItem}
    });
    givenItem = "";
  }

  // BATTLE LOGIC
  if (inBattle === true) {
    $(".player-names").remove();
    if(battleOver === true) {
      playerOpponent = "";
      if(messagesLoaded === false) {
        victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + (SCREEN_HEIGHT / 4 + 20) + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;">YOU WIN!!</div>');
        totalxp = 0;
        for (var i = currentEnemies.length - 1; i >= 0; i--) {
          if(Math.random() < currentEnemies[i].dropRate) {
            your_char.inventory.push(currentEnemies[i].item);
            $.ajax({
              url: "/items",
              method: "POST",
              data: {item_name: currentEnemies[i].item}
            })
            var currentInventory = your_char.inventory.filter(function(item) {
              return item === currentEnemies[i].item;
            });
            victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + (SCREEN_HEIGHT / 4 + 20) + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;">Obtained ' + currentEnemies[i].item + '!<br>Now hold: ' + currentInventory.length + '</div>')
          };
          your_char.xp += currentEnemies[i].xp;
          totalxp += currentEnemies[i].xp;
        };
        var previousLevel = your_char.level;
        calculateLevel();
        var currentLevel = your_char.level;
        victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + (SCREEN_HEIGHT / 4 + 20) + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;">Gained '+ totalxp +' xp points!</div>')
        if (currentLevel > previousLevel){
          victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + (SCREEN_HEIGHT / 4 + 20) + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;">You leveled up to level '+ currentLevel +'! CONGRATULATIONS!!</div>')
        };
        victoryMessages.push('<div class="battle-message" style="position:absolute;background-color:white;top:' + (SCREEN_HEIGHT / 4 + 20) + 'px;left:' + SCREEN_WIDTH / 4 + 'px;width:400px;height:200px;"></div>')
        messagesLoaded = true;
        $("body").prepend(victoryMessages.shift());
        currentEnemies = [];
      }
      if(victoryMessages.length >= 1 && clearMessage === true) {
        $(".battle-message").remove();
        $("body").prepend(victoryMessages.shift());
        clearMessage = false;
      }
      if(victoryMessages.length < 1) {
        $(".battle-message").remove();
        refreshBattleDisplay();
        inBattle = false;
      }
      return;
    }
    currentBattleFrame++;
    for (var i = currentEnemies.length - 1; i >= 0; i--) {
      if(currentEnemies[i].health <= 0) {
        currentEnemies[i].setPose("dead");
        if(currentEnemies[i] === your_char.enemyTarget) {
          your_char.changeTarget(nearestLivingEnemy(-1, 1));
          // if there is no more enemies:
          if(your_char.enemyTarget.pose === "dead") {
            your_char.enemyTarget = null;
            battleOver = true;
          }
        }
      }
    }
    for (var i = currentEnemies.length - 1; i >= 0; i--) {
      if(currentEnemies[i].name != "player" && currentBattleFrame % (255 - currentEnemies[i].attackSpeed) === 0) {
        if(currentEnemies[i].pose === "standing") {
          currentEnemies[i].attackPlayer(your_char);
          currentEnemies[i].setPose("attacking");
        }
      }
    };

    //BOSS DIFFERENT SPRITES
    //TROGDOR
    if(currentEnemies[0].name === "trogdor") {
      if(currentEnemies[0].sprites.stand === trogdor_stand01){
        if(currentEnemies[0].health < (currentEnemies[0].maxHealth * 0.4) ){
          currentEnemies[0].sprites = {stand: trogdor_red_hot_stand01,
                      attack: trogdor_red_hot_attack01};
          currentEnemies[0].attack = 2000;
          currentEnemies[0].defense = 2000;
          currentEnemies[0].maxHealth = 20000;
          currentEnemies[0].health = 20000;
          currentEnemies[0].attackSpeed = 250;
        }
      }
    }
  }
}

setInterval(proceedBattle, FRAME_RATE);

var calculateLevel = function() {
  level = Math.floor(0.3 * Math.sqrt(your_char.xp));
  if (your_char.level < level) {
    for (var i = 0; i < (level - your_char.level); i++) {
      increaseAttributes();
    };
    your_char.level = level;
  }
}

var increaseAttributes = function() {
  var previousHealth = your_char.max_health;
  your_char.max_health += Math.floor( (Math.random() * 10) + 20);
  your_char.health += your_char.max_health - previousHealth;
  your_char.attack += Math.floor( (Math.random() * 3) + 3);
  your_char.defense += Math.floor( (Math.random() * 3) + 3);
}
