console.log("CONTROL PAGE LOADING")

// direction should be -1 for left and 1 for right
var nearestLivingEnemy = function(enemyIndex, direction) {
  if(!currentEnemies[enemyIndex + direction]) {
    return currentEnemies[enemyIndex];
  } else if(currentEnemies[enemyIndex + direction].pose !== "dead") {
    return currentEnemies[enemyIndex + direction];
  } else {
    return nearestLivingEnemy(enemyIndex + direction, direction);
  }
};

var processInputBuffer = function(){
  // console.log(your_char.recoveryTime);
  // potion use
  if( (keys_pressed.indexOf(49) != -1) && (keys_pressed_checker.indexOf(49) === -1 && your_char.health > 0) ) {
    keys_pressed_checker.push(49);
    if(your_char.recoveryTime <= 0 && your_char.inventory.indexOf("potion") !== -1) {
      your_char.inventory.splice(your_char.inventory.indexOf("potion"), 1);
      your_char.health = Math.floor(Math.min(your_char.health + your_char.max_health * 0.7, your_char.max_health));
      your_char.recoveryTime = 150;
      itemDisplays.push(new Item("potion"));
      $.ajax({
        url: "/items/use",
        method: "DELETE",
        data: {item_name: "potion"}
      });
    };
  }

  if(inBattle === true && your_char.health > 0) { // Battle controls
    if((keys_pressed.indexOf(66) != -1) && (keys_pressed_checker.indexOf(66) === -1) ) {
      keys_pressed_checker.push(66);
      if(your_char.enemyTarget) {
        slashes.push(new Slash(your_char.enemyTarget));
        your_char.attackEnemy(your_char.enemyTarget);
        slashPos = currentEnemies.indexOf(your_char.enemyTarget);
      };
    } else if( (keys_pressed_checker.indexOf(65) === -1 && keys_pressed_checker.indexOf(37) === -1) && ((keys_pressed.indexOf(65) != -1) || (keys_pressed.indexOf(37) != -1)) ) {
      keys_pressed_checker.push(65);
      keys_pressed_checker.push(37);
      for (var i = currentEnemies.length - 1; i >= 0; i--) {
        if(your_char.enemyTarget === currentEnemies[i]) {
          if( (i - 1 >= 0) ) {
            console.log("checker",keys_pressed_checker);
            your_char.changeTarget(nearestLivingEnemy(i, -1));
            break;
          };
        };
      };
    } else if( (keys_pressed_checker.indexOf(83) === -1 && keys_pressed_checker.indexOf(39) === -1) && ((keys_pressed.indexOf(83) != -1) || (keys_pressed.indexOf(39) != -1)) ) {
      keys_pressed_checker.push(83);
      keys_pressed_checker.push(39);
      for (var i = currentEnemies.length - 1; i >= 0; i--) {
        if(your_char.enemyTarget === currentEnemies[i]) {
          if( (i + 1 < currentEnemies.length) ) {
            your_char.changeTarget(nearestLivingEnemy(i, 1));
            break;
          };
        };
      };
    }  // pizza use
    else if( (keys_pressed.indexOf(50) != -1) && (keys_pressed_checker.indexOf(50) === -1) ) {
      keys_pressed_checker.push(50);
      if(your_char.recoveryTime <= 0 && your_char.inventory.indexOf("subway pizza") !== -1) {
        your_char.inventory.splice(your_char.inventory.indexOf("subway pizza"), 1);
        your_char.attack += Math.floor(your_char.attack * 0.2);
        your_char.recoveryTime = 300;
        your_char.statusEffects.push("subway pizza");
        itemDisplays.push(new Item("subway pizza"));
        your_char.statusEffects.push(new StatusEffect("subway pizza"));
        $.ajax({
          url: "/items/use",
          method: "DELETE",
          data: {item_name: "subway pizza"}
        });
      };
    } // vampire fang use
    else if( (keys_pressed.indexOf(51) != -1) && (keys_pressed_checker.indexOf(51) === -1) ) {
      keys_pressed_checker.push(51);
      if(your_char.recoveryTime <= 0 && your_char.inventory.indexOf("vampire fang") !== -1) {
        your_char.inventory.splice(your_char.inventory.indexOf("vampire fang"), 1);
        var bloodSuck = Math.floor(your_char.enemyTarget.health * 0.05);
        your_char.enemyTarget.health -= bloodSuck;
        your_char.health = Math.min(your_char.max_health, your_char.health + bloodSuck);
        your_char.recoveryTime = 500;
        itemDisplays.push(new Item("vampire fang"));
        $.ajax({
          url: "/items/use",
          method: "DELETE",
          data: {item_name: "vampire fang"}
        });
      };
    }
    else if( (keys_pressed.indexOf(32) != -1) && (keys_pressed_checker.indexOf(32) === -1) ) {
      keys_pressed_checker.push(32);
      if(battleOver === true) {
        clearMessage = true;
      };
    };
  } else { // Field controls
    your_char.turnedThisFrame = false;
    var currentPositionX = your_char.pos_x;
    var currentPositionY = your_char.pos_y;
      if (keys_pressed.indexOf(16) != -1) {
        if (keys_pressed.indexOf(37) != -1) {
          your_char.faceDirection("west");
          your_char.turnedThisFrame = true;
          your_char.pos_x--;
        };
        if (keys_pressed.indexOf(39) != -1) {
          your_char.faceDirection("east");
          your_char.turnedThisFrame = true;
          your_char.pos_x++;
        };
        if (keys_pressed.indexOf(38) != -1) {
          your_char.faceDirection("north");
          your_char.turnedThisFrame = true;
          your_char.pos_y--;
        };
        if (keys_pressed.indexOf(40) != -1) {
          your_char.faceDirection("south");
          your_char.turnedThisFrame = true;
          your_char.pos_y++;
        };
      } else {
        if (keys_pressed.indexOf(37) != -1) {
          your_char.faceDirection("west");
          your_char.turnedThisFrame = true;
          your_char.pos_x-= your_char.speed;
        };
        if (keys_pressed.indexOf(39) != -1) {
          your_char.faceDirection("east");
          your_char.turnedThisFrame = true;
          your_char.pos_x+= your_char.speed;
        };
        if (keys_pressed.indexOf(38) != -1) {
          your_char.faceDirection("north");
          your_char.turnedThisFrame = true;
          your_char.pos_y-= your_char.speed;
        };
        if (keys_pressed.indexOf(40) != -1) {
          your_char.faceDirection("south");
          your_char.turnedThisFrame = true;
          your_char.pos_y+= your_char.speed;
        };
      };
      // honey grahams use
      if( (keys_pressed.indexOf(52) != -1) && (keys_pressed_checker.indexOf(52) === -1) ) {
        console.log("back to code");
        keys_pressed_checker.push(52);
        if(your_char.recoveryTime <= 0 && your_char.inventory.indexOf("honey grahams") !== -1) {
          your_char.inventory.splice(your_char.inventory.indexOf("honey grahams"), 1);
          your_char.speed += 4;
          your_char.recoveryTime = 300;
          itemDisplays.push(new Item("honey grahams"));
          your_char.statusEffects.push(new StatusEffect("honey grahams"));
          $.ajax({
            url: "/items/use",
            method: "DELETE",
            data: {item_name: "honey grahams"}
          });
        };
      }
      distanceTraveled += Math.abs(your_char.pos_x - currentPositionX);
      distanceTraveled += Math.abs(your_char.pos_y - currentPositionY);
      checkEncounter();
    }
};

function removeMenus(){
  $(".player-menu").remove();
  $(".other-player-menu").remove();
  $(".npc-menu").remove();
  $(".item-menu").remove();
}

var allowInput = function() {
  $(document).keydown(function(e){
    removeMenus();
    if(keys_pressed.indexOf(e.which) === -1) {
      keys_pressed.push(e.which);
    };
    console.log(keys_pressed);
  });
  $(document).keyup(function(e){
    keys_pressed = keys_pressed.filter(function(keycode){
      return keycode != e.which;
    });
    keys_pressed_checker = keys_pressed_checker.filter(function(keycode){
      if(e.which === 65 || e.which === 37) {
        return (keycode !== 65 && keycode !== 37)
      } else if(e.which === 83 || e.which === 39) {
        return (keycode !== 83 && keycode !== 39)
      } else {
        return keycode !== e.which;
      }
    });
  });
  setInterval(processInputBuffer, FRAME_RATE/2);
};

function getTextWidth(text, font) {
  // re-use canvas object for better performance
  var canvas = getTextWidth.canvas || (getTextWidth.canvas = document.createElement("canvas"));
  var context = canvas.getContext("2d");
  context.font = font;
  var metrics = context.measureText(text);
  return metrics.width;
}

var allowClick = function() {
  //click listener
  document.getElementById('game_screen').addEventListener('click', function(e) {
    global_x = e.pageX + backgroundScrollX - 20 - $('#game_screen').offset().left;
    global_y = e.pageY + backgroundScrollY - 12 - $('#game_screen').offset().top //- $('.navbar').offset().top;
    // x and y relative to canvas
    var x = e.pageX - 20 - $('#game_screen').offset().left
    var y = e.pageY - 12 - $('#game_screen').offset().top //- $('.navbar').offset().top;
    console.log(global_x, global_y);
    clickLocation = [];
    clickLocation.push(x);
    clickLocation.push(y);
    removeMenus();
    clicked = [];
    if (inBattle === true) {console.log("you're in a battle"); return false}
    // click yourself
    if((global_x >= your_char.pos_x && global_x <= your_char.pos_x + 35) && (global_y >= your_char.pos_y && global_y <= your_char.pos_y + 75)) {
      console.log("clicked yourself")
      clicked.push("yourself");
      var width = getTextWidth("I am " + your_character_name + "!", "18px Arial");
      if (partyMembers.length < 1) {
        var menu = '<div class="player-menu" style="text-align:center;padding:7px;position:absolute;background-color:white;top:' + (75 +clickLocation[1]).toString() + 'px;left:' + (clickLocation[0]).toString() + 'px;width:'+ (15 + width).toString() +'px;height:47px;">I am '+ your_character_name +'!</div>';
      } else if (partyMembers.length > 0){
        otherWidth = getTextWidth("Leave party!", "18px Arial");
        if (otherWidth > width) {width = otherWidth};
        var menu = '<div class="player-menu" style="text-align:center;padding:7px;position:absolute;background-color:white;top:' + (75 +clickLocation[1]).toString() + 'px;left:' + (clickLocation[0]).toString() + 'px;width:'+ (width + 25).toString() +'px;height:70px;">I am '+ your_character_name +'!<button id="leave-party">Leave Party</button></div>';
      }
      $("body").prepend(menu);

      // click other chars
    } else if(checkOther(global_x, global_y) != false) {
      console.log("CLICK OTHER PLAYER");
      otherPlayerMenu = true;
      clicked.push("other");
      clicked.push(checkOther(global_x, global_y));
      var width = getTextWidth('Join party with ' + clicked[1] + '!', "18px Arial");
      // var menu = '<div class="other-player-menu" style="text-align:center;padding:7px;position:absolute;background-color:white;top:' + (60 +clickLocation[1]).toString() + 'px;left:' + (clickLocation[0]).toString() + 'px;width:'+ width.toString() +'px;height:75px;"><button id="party" style="margin-bottom:3px;">Join party with '+ clicked[1] +'!</button><br><button id="trade">Trade with '+ clicked[1] +'!</button><br><button id="pvp">Fight '+ clicked[1] +'!</button></div>';
      var menu = '<div class="other-player-menu" style="text-align:center;padding:7px;position:absolute;background-color:white;top:' + (60 +clickLocation[1]).toString() + 'px;left:' + (clickLocation[0]).toString() + 'px;width:'+ (width + 15).toString() +'px;height:75px;"><button id="party" style="margin-bottom:3px;">Join party with '+ clicked[1] +'!</button><br><button id="trade">Give item to '+ clicked[1] +'!</button></div>';
      $("body").prepend(menu);

      // click NPC
    } else if(checkNpc(global_x, global_y) != false) {
      console.log("CLICK NPC");
      clicked.push("NPC");
      clicked.push(checkNpc(global_x, global_y));
      var width = getTextWidth('I am A' + clicked[1] + ' !', "18px Arial");
      var menu = '<div class="npc-menu" style="text-align:center;padding:7px;position:absolute;background-color:white;top:' + (60 +clickLocation[1]).toString() + 'px;left:' + (clickLocation[0]).toString() + 'px;width:'+ (width + 10).toString() +'px;height:75px;">I am ' + clicked[1] +' !<button id="boss-battle" style="margin-bottom:3px;">Fight '+ clicked[1] +'!</button></div>';
      $("body").prepend(menu);
    }
  }, false);
}

var checkOther = function(x, y) {
  for (var i = playerNames.length - 1; i >= 0; i--) {
    otherPlayerX = otherPlayers[playerNames[i]].pos_x;
    otherPlayerY = otherPlayers[playerNames[i]].pos_y;
    if ((x >= otherPlayerX && x<= otherPlayerX + 35 ) && (y >= otherPlayerY && y<= otherPlayerY +75)) {
      return playerNames[i];
    };
  };
  return false;
}

var checkNpc = function(x, y) {
  for (var i = npcs.length - 1; i >= 0; i--) {
    npcX = npcs[i].pos_x;
    npcY = npcs[i].pos_y;
    if ((x >= npcX && x<= npcX + npcs[i].width ) && (y >= npcY && y<= npcY + npcs[i].height)) {
      return npcs[i].name;
    };
  };
  return false;
}

$( document ).ready(function() {
  $("body").on("click", "#party", function(e){
    e.preventDefault;
    if (partyMembers.indexOf(clicked[1]) === -1 ) {
      otherPlayertoPartyWith = clicked[1];
    }
    removeMenus();
  });
  $("body").on("click", "#trade", function(e){
    e.preventDefault;
    preparingToTradeWith = clicked[1];
    removeMenus();
    var individualItems = [];
    $.each(your_char.inventory, function(i, item){
      if($.inArray(item, individualItems) === -1) individualItems.push(item);
    });
    var itemList = "";
    for (var i = individualItems.length - 1; i >= 0; i--) {
      itemList += '<li><a class="item-in-menu">' + individualItems[i] + '</a></li>';
    };
    var menu = '<div class="item-menu" style="text-align:center;padding:7px;position:absolute;background-color:white;top:' + (SCREEN_HEIGHT / 2.5).toString() + 'px;left:' + (SCREEN_WIDTH / 2.5).toString() + 'px;">Your Items:<ul>' + itemList + '</ul></div>';
    $("body").prepend(menu);
  });
  $("body").on("click", "#leave-party", function(e){
    e.preventDefault;
    leaveParty = true;
    partyMembers = [];
    partyTimeOut = 110;
    removeMenus();
  });
  $("body").on("click", "#boss-battle", function(e){
    e.preventDefault;
    prepareBossBattle(clicked[1]);
    removeMenus();
  });
  $("body").on("click", ".item-in-menu", function(e){
    e.preventDefault;
    otherPlayertoTradeWith = preparingToTradeWith;
    itemToGive = this.text;
    removeMenus();
  });
  // $("body").on("click", "#pvp", function(e){
  //   e.preventDefault;
  //   playerOpponent = clicked[1];
  //   leaveParty = true;
  //   $(".player-menu").remove();
  // });
  $("#chat-box").on("click", "#chat-submit", function(e){
    e.preventDefault;
    chatMessage = $("input").val();
    cheat(chatMessage);
    $("#chat-message-list").append('<li class="message">'+ your_character_name+": " + chatMessage + "</li>");
    $("input").val('');
    document.getElementById( 'bottom' ).scrollIntoView();

  });

});

function cheat(cheatCode) {
  if(cheatCode == "activateCheatRESET"){
    your_char.level = 1;
    your_char.attack = 40;
    your_char.defense = 22;
    your_char.max_health = 125;
    your_char.health = 125;
    your_char.xp = 0;
  } else if (cheatCode == "activateCheatONE") {
    your_char.attack += 200;
    your_char.defense += 50;
    your_char.max_health += 2000;
    your_char.health += 2000;
  }
  else if (cheatCode == "activateCheatTROGDOR") {
    your_char.attack += 3000;
    your_char.defense += 400;
    your_char.max_health += 20000;
    your_char.health += 20000;
  } else if (cheatCode == "benKudler") {
    your_char.attack = 6000;
    your_char.defense = 800;
    your_char.max_health = 40000;
    your_char.health = 40000;
  } else if (cheatCode == "bossTRIANGLE") {
    your_char.attack += 20000;
    your_char.defense += 1000;
    your_char.max_health += 150000;
    your_char.health += 150000;
  }
}
