console.log("CONTROL PAGE LOADING")

// direction should be -1 for left and 1 for right
var nearestLivingEnemy = function(enemyIndex, direction) {
  if(!currentEnemies[enemyIndex + direction]) {
    return currentEnemies[enemyIndex];
  } else if(currentEnemies[enemyIndex + direction].pose !== "dead") {
    return currentEnemies[enemyIndex + direction];
  } else {
    return nearestLivingEnemy(enemyIndex + direction, direction);
  }
};

var processInputBuffer = function(){
  if(inBattle) { // Battle controls
    if((keys_pressed.indexOf(66) != -1) && (keys_pressed_checker.indexOf(66) === -1) ) {
      keys_pressed_checker.push(66);
      if(your_char.enemyTarget) {
        slashes.push(new Slash(your_char.enemyTarget));
        your_char.attackEnemy(your_char.enemyTarget);
      };
    } else if( (keys_pressed_checker.indexOf(65) === -1 && keys_pressed_checker.indexOf(37) === -1) && ((keys_pressed.indexOf(65) != -1) || (keys_pressed.indexOf(37) != -1)) ) {
      keys_pressed_checker.push(65);
      keys_pressed_checker.push(37);
      for (var i = currentEnemies.length - 1; i >= 0; i--) {
        if(your_char.enemyTarget === currentEnemies[i]) {
          if( (i - 1 >= 0) ) {
            console.log("checker",keys_pressed_checker);
            your_char.changeTarget(nearestLivingEnemy(i, -1));
            break;
          };
        };
      };
    } else if( (keys_pressed_checker.indexOf(83) === -1 && keys_pressed_checker.indexOf(39) === -1) && ((keys_pressed.indexOf(83) != -1) || (keys_pressed.indexOf(39) != -1)) ) {
      keys_pressed_checker.push(83);
      keys_pressed_checker.push(39);
      for (var i = currentEnemies.length - 1; i >= 0; i--) {
        if(your_char.enemyTarget === currentEnemies[i]) {
          if( (i + 1 < currentEnemies.length) ) {
            your_char.changeTarget(nearestLivingEnemy(i, 1));
            break;
          };
        };
      };
    } else if( (keys_pressed.indexOf(32) != -1) && (keys_pressed_checker.indexOf(32) === -1) ) {
      keys_pressed_checker.push(32);
      clearMessage = true;
    };
  } else { // Field controls
    var currentPositionX = your_char.pos_x;
    var currentPositionY = your_char.pos_y;
      if (keys_pressed.indexOf(16) != -1) {
        if (keys_pressed.indexOf(38) != -1) {
          your_char.pos_y--;
        };
        if (keys_pressed.indexOf(40) != -1) {
          your_char.pos_y++;
        };
        if (keys_pressed.indexOf(37) != -1) {
          your_char.pos_x--;
        };
        if (keys_pressed.indexOf(39) != -1) {
          your_char.pos_x++;
        };
      } else {
        if (keys_pressed.indexOf(38) != -1) {
          your_char.pos_y-= your_char.speed;
        };
        if (keys_pressed.indexOf(40) != -1) {
          your_char.pos_y+= your_char.speed;
        };
        if (keys_pressed.indexOf(37) != -1) {
          your_char.pos_x-= your_char.speed;
        };
        if (keys_pressed.indexOf(39) != -1) {
          your_char.pos_x+= your_char.speed;
        };
      };
      distanceTraveled += Math.abs(your_char.pos_x - currentPositionX);
      distanceTraveled += Math.abs(your_char.pos_y - currentPositionY);
      checkEncounter();
    }
};

var allowInput = function() {
  $(document).keydown(function(e){
    e.preventDefault();
    if(keys_pressed.indexOf(e.which) === -1) {
      keys_pressed.push(e.which);
    };
    console.log(keys_pressed);
  });
  $(document).keyup(function(e){
    e.preventDefault();
    keys_pressed = keys_pressed.filter(function(keycode){
      return keycode != e.which;
    });
    keys_pressed_checker = keys_pressed_checker.filter(function(keycode){
      if(e.which === 65 || e.which === 37) {
        return (keycode !== 65 && keycode !== 37)
      } else if(e.which === 83 || e.which === 39) {
        return (keycode !== 83 && keycode !== 39)
      } else {
        return keycode !== e.which;
      }
    });
  });
  setInterval(processInputBuffer, FRAME_RATE/2);
};


function getTextWidth(text, font) {
  // re-use canvas object for better performance
  var canvas = getTextWidth.canvas || (getTextWidth.canvas = document.createElement("canvas"));
  var context = canvas.getContext("2d");
  context.font = font;
  var metrics = context.measureText(text);
  return metrics.width;
}

var allowClick = function() {
  //click listener
  document.getElementById('game_screen').addEventListener('click', function(e) {
    global_x = e.pageX + backgroundScrollX - 5 - $('#game_screen').offset().left;
    global_y = e.pageY + backgroundScrollY - 5 - $('#game_screen').offset().top;
    // x and y relative to canvas
    var x = e.pageX - 5 - $('#game_screen').offset().left;
    var y = e.pageY - 5 - $('#game_screen').offset().top;
    console.log(global_x, global_y);
    clickLocation = [];
    clickLocation.push(x);
    clickLocation.push(y);
    // menu clicking logic
    if (yourMenu === true || otherPlayerMenu === true) {
      // if ( (otherPlayerMenu === true) && (x >= otherMenu.x && x <= otherMenu.x+otherMenu.width) && (y >= otherMenu.y && y <= otherMenu.y+15) ) {
      //   //TODO: JOIN PARTY LOGIC HERE
      // } else if ( (yourMenu === true) && (x >= playerMenu.x && x <= playerMenu.x+playerMenu.width) && (y >= playerMenu.y && y <= playerMenu.y+15) ) {
      //   console.log("WORKED");
      // }
      clicked = [];
      otherPlayerMenu = false;
      yourMenu = false;
      $(".player-menu").remove();
      $(".other-player-menu").remove();
    // click your_char
    } else if((global_x >= your_char.pos_x && global_x <= your_char.pos_x + 25) && (global_y >= your_char.pos_y && global_y <= your_char.pos_y + 25)) {
      console.log("clicked yourself")
      clicked.push("yourself");
      yourMenu = true;
      var width = getTextWidth("I am " + your_character_name + "!", "18px Arial");
      var menu = '<div class="player-menu" style="padding:7px;position:absolute;background-color:white;top:' + (your_char.pos_y - backgroundScrollY).toString() + 'px;left:' + (your_char.pos_x - backgroundScrollX).toString() + 'px;width:'+ width.toString() +'px;height:30px;">I am '+ your_character_name +'!</div>';
      $("body").prepend(menu);
      // click other chars
    } else if(checkOther(global_x, global_y) != false) {
      console.log("CLICK OTHER PLAYER");
      otherPlayerMenu = true;
      clicked.push("other");
      clicked.push(checkOther(global_x, global_y));
      var width = getTextWidth('Join party with ' + clicked[1] + '!', "18px Arial");
      var menu = '<div class="player-menu" style="padding:7px;position:absolute;background-color:white;top:' + (clickLocation[1]).toString() + 'px;left:' + (clickLocation[0]).toString() + 'px;width:'+ width.toString() +'px;height:75px;"><button id="party" style="margin-bottom:3px;">Join party with '+ clicked[1] +'!</button><br><button id="trade">Trade with '+ clicked[1] +'!</button></div>';
      $("body").prepend(menu);
    } else {
      clicked = [];
      yourMenu = false;
      otherPlayerMenu = false;
    }
  }, false);
}

var checkOther = function(x, y) {
  for (var i = playerNames.length - 1; i >= 0; i--) {
    otherPlayerX = otherPlayers[playerNames[i]].pos_x;
    otherPlayerY = otherPlayers[playerNames[i]].pos_y;
    if ((x >= otherPlayerX && x<= otherPlayerX +25 ) && (y >= otherPlayerY && y<= otherPlayerY +25)) {
      return playerNames[i];
    };
  };
  return false;
}

$( document ).ready(function() {
  $("body").on("click", "#party", function(e){
    e.preventDefault;
    otherPlayertoPartyWith = clicked[1];
  });
  $("body").on("click", "#trade", function(e){
    e.preventDefault;
    otherPlayertoTradeWith = clicked[1];
  });
});
