var refreshInformationWindow = function(){
  	$("#information_window").remove();
};

var informationWindow = function(player, party) {

//player, level
	// if (player.name == null){
	// 	player.name = "John Doe";
	// };

	$("#playerName > .value").text(player.name);
	$("#level > .value").text(player.level);

//health
	var health = player.health + " / " + player.max_health
	$("#health > .value").text(health);

//experience
	$("#experience > .value").text(player.xp);

	$('p').remove();

//party
	if (party == ""){
		$("#partyMembers").remove();
	} else {
		$.each(party,
		  function(index, member) {
		    $('<p style="margin-bottom:0px;"></p>')
		      .append(member)
		      .appendTo('#partyMembers > .value');
		  }
		);
	};

//items
	var itemInventory = {};

	your_char.inventory.forEach(function(item){
		if(isNaN(itemInventory[item]) === true){
			itemInventory[item] = 1;
		} else {
			itemInventory[item] ++;
		}
	});

	$.each(itemInventory,
		function(item, quantity) {
			content = item + ": " + quantity
			$('<p style="margin-bottom:0px;"></p>')
				.append(content)
				.appendTo('#items > .value');
		}
	);
};

