/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope. *

 *= require jquery-ui
 *= require ./battle_message.css
 *= require ./game.css
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #f7f8E5;
}
.character{
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}
 h1, h2, h3, h4, h5 {
	font-weight: 1000;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	color:#1aa3ff;
}


h6{
text-align: center;
font-size: 175%;
position: absolute;
font-family: 'Shadows Into Light', cursive;
font-weight: 375%;
color:  #1aa3ff !important;
right: 1px;

}

/*p{color:  #008066 !important;
font-weight: bold;
font-size: 200%;
text-align: center;
font-family: 'Passion One', cursive!important;
}
*/
a{color: #00ff00; 
font-weight: 200;
font-family: 'Passion One', cursive;
font-size: 175%;}

#homepage_links{
text-align: center;
font-weight: bold;
font-size: 200%;
position: absolute;
left: 90px}

#wood{
position: absolute;
left: 80px;
top: 60px;}

.homescreentext{
  position: absolute;
  left: 250px;
  top: 100px;}
/*
.panel-heading{background-color: #ffdf80 !important; }*/
.panel-body{background-color:  #99ff99 !important; }

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #008066 !important;
    font-size: 150% !important;
    font-family: 'Passion One', cursive;
}

.charinput{text-align: center}
textarea {
	min-height: 250px;
}


#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

