canvas {
  border: 5px solid black;
  border-radius: 3px;
}


text {
	color: white;
	fill:#F5F1E9;
}


#information_window{
  border: 5px solid #00ff00;
  border-radius: 3px;

	color: #996633;
  font-weight: 200;
  font-family: 'Passion One', cursive;
  font-size: 150%;

  position: absolute;
  width: 200px;
  height: 610px;
  left: 810px;
  top: 50px;
  background-color: #ffcc66;
  z-index: 1;
}

#information_window .value {
	text-align: right;
	color: #ff33cc;
  font-size: 175%;
}

#partyMembers > .value {
  font-size: 100%;
  margin-bottom: 0px;
}

#items > .value {
  font-size: 100%;
  margin-bottom: 0px;
}